@import "../../global.scss";

.about {
  background-color: rgb(228, 238, 228);
  /* background-image: url(../../../public/assets/dna.png); */
  background-size: cover;
  background-position: center;
  display: flex;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  .left {
    flex: 0.3;
    overflow: hidden;

    @include mobile {
      flex: 0.33;
    }

    .photo {
      width: 500px;
      height: 500px;
      background-color: grey;
      border-radius: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding-top: 20px;

      @include mobile {
        align-items: center;
        width: 300px;
        height: 300px;
      }

      img {
        height: 40%;
        width: 30%;
        border-radius: 800px 0px 1400px 5px;
      }
    }
  }

  .right {
    flex: 0.7;
    position: relative;

    @include mobile {
      flex: 0.67;
    }

    .wrapper {
      width: 80%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mobile {
        align-items: center;
      }

      h1 {
        font-size: 35px;
        margin: 10px 0;
        font-weight: 400;

        @include mobile {
          font-size: 30px;
        }
      }
      h2 {
        font-size: 25px;
        color: rgb(49, 142, 142);

        @include mobile {
          font-size: 20px;
        }
      }
      h3 {
        font-size: 20px;
        font-weight: 400;

        @include mobile {
          font-size: 18px;
        }
      }
    }

    a {
      position: absolute;
      bottom: 10px;
      left: 50%;

      img {
        width: 30px;
        animation: arrowBlink 2s infinite;
      }
      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
